version: "3.9"

services:
  api:
    build: .
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/techstore
      JWT_SECRET: devsecret123
      JWT_SECRET_ADMIN: devsecret123
      DB_ADMIN_TOKEN: change-me
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      HOST: "0.0.0.0"
      NODE_OPTIONS: "--openssl-legacy-provider"
      WDS_SOCKET_PORT: 3000
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      - api
    volumes:
      - ./client:/app
      - /app/node_modules

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
